.vs/
.vscode/
**/node_modules/
**/dist/
**/build/
**/bin/
**/obj/
*.user
*.suo
*.cache
*.log
*.tmp
*.swp
*.DS_Store
Thumbs.db
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
